:ruby
  subject = @action == 'setup' ? 'password_setup' : 'password_resets'
#container.valign-wrapper
  .row
    .card.larger
      .card-content
        .row
          %h5=t "wulin_auth.#{subject}.title"
        = form_tag password_resets_path, :class => "password-reset" do
          .row
            .input-field
              = email_field_tag 'email'
              = label_tag 'email', t("wulin_auth.#{subject}.email")
          .row.center
            .btn.waves-effect
              = submit_tag t("wulin_auth.#{subject}.submit")

:javascript
  $(document).ready(function() {
    toast("#{flash[:notice]}");
  });
