#container.valign-wrapper
  .row
    .card.larger
      .card-content
        .row
          %h5=t 'wulin_auth.reset_password.title'
        = form_for :user, :url => password_reset_path(params[:token] || @user.token), :method => 'put' do |f|
          .row
            =t 'wulin_auth.reset_password.instructions', email: @user.email
          .row
            .input-field
              = password_field_tag 'user[password]', '', {class: @user.errors[:password].empty? ? '' : 'invalid'}
              = label_tag 'user_password', t('wulin_auth.reset_password.password')
              - unless @user.errors[:password].empty?
                .error_message= @user.errors[:password].join(',')
          .row
            .input-field
              = password_field_tag 'user[password_confirmation]', '', {class: @user.errors[:password_confirmation].empty? ? '' : 'invalid'}
              = label_tag 'user_password_confirmation', t('wulin_auth.reset_password.password_confirmation')
              - unless @user.errors[:password_confirmation].empty?
                .error_message= @user.errors[:password_confirmation].join(',')
          .row.center
            .btn.waves-effect
              = submit_tag t('wulin_auth.reset_password.submit')
