<!DOCTYPE html>
<html>
  <head>
    <title><%= WulinMaster.config.app_title %> - Sign in</title>
    <%= stylesheet_link_tag 'login' %>
    <%= javascript_include_tag 'jquery', 'jquery_plugins/jquery-ui.min', 'login' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="shadow"></div>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
